{
    acme_dns cloudflare {env.CF_API_TOKEN}
}

radarr.januszex.net         { reverse_proxy radarr:7878 }
sonarr.januszex.net         { reverse_proxy sonarr:8989 }
prowlarr.januszex.net       { reverse_proxy prowlarr:9696 }
jellyfin.januszex.net       { reverse_proxy jellyfin:8096 }
jellyseerr.januszex.net     { reverse_proxy jellyseerr:5055 }
sabnzbd.januszex.net        { reverse_proxy sabnzbd:8080 }
bazarr.januszex.net         { reverse_proxy bazarr:6767 }
profilarr.januszex.net      { reverse_proxy profilarr:6868 }
stash.januszex.net          { reverse_proxy stash:9999 }
paperless.januszex.net      { reverse_proxy paperless:8000 }
photos.januszex.net         { reverse_proxy immich-server:2283 }
filebrowser.januszex.net    { reverse_proxy filebrowser:80 }
jfa.januszex.net            { reverse_proxy jfa:8056 }
comicstreamer.januszex.net  { reverse_proxy comicstreamer:32500 }
streamyfin.januszex.net     { reverse_proxy streamyfin:3000 }
uptime.januszex.net         { reverse_proxy uptime-kuma:3001 }
truenas.januszex.net        { reverse_proxy docker-host:89 }
wgeasy.januszex.net         { reverse_proxy docker-host:30058 }
homepage.januszex.net       { reverse_proxy jellyfin:8096 }

portainer.januszex.net {
    reverse_proxy https://portainer:9443 {
        transport http { tls_insecure_skip_verify }
    }
}

qbittorrent.januszex.net {
    reverse_proxy qbittorrent:8082
}

metube.januszex.net {
    basicauth {
        root {env.METUBE_PASSWORD_HASH}
    }
    reverse_proxy metube:8081
}
